<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="donggolf.android">

    <application
        android:name=".base.GlobalApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>

        <!-- 로그인 -->
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/NoTitleDialog" />

        <activity
            android:name=".activities.FindidActivity"
            android:theme="@style/NoTitleDialog" />

        <activity
            android:name=".activities.AddPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.FindPictureActivity"
            android:theme="@style/NoTitleDialog" />

        <activity
            android:name=".activities.FindPictureGridActivity"
            android:theme="@style/NoTitleDialog" />

        <activity
            android:name=".activities.MainDetailActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".activities.PictureDetailActivity"
            android:theme="@style/NoTitleDialog">
        </activity>

    </application>

</manifest>