<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="donggolf.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <application
        android:name=".base.GlobalApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_png"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_png"
        android:supportsRtl="true"
        android:theme="@style/NoTitleDialog">
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>




        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 로그인 -->
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FindidActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.AddPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="luminous.ACTION_PICK" />
                <action android:name="luminous.ACTION_MULTIPLE_PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FindPictureActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FindPictureGridActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FindVideoActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.AreaMyRangeActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.MainDetailActivity"
            android:theme="@style/NoTitleDialog"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.PictureDetailActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.AreaRangeActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FriendSearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name = "android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme = "@string/kakao_scheme"
                    android:host = "@string/kakaolink_host"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.MarketMainActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.MarketManageActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.GoodsDetailActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ReportActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.SellerActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.AddGoodsActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.AlarmActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.NoticeActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ProfileManageActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.OtherManageActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ProfileNameModifActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ProfileTagChangeActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ProfilePhoneChangeActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.WithdrawalActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ViewDocumentActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.InquireActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.MutualActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.TermSpecifActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.PersonalInfoTernsActivity"
            android:theme="@style/NoTitleDialog" />
        <!-- <activity -->
        <!-- android:name=".Main2Activity" -->
        <!-- android:label="@string/title_activity_main2" /> -->
        <activity
            android:name=".activities.SetAlarmActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ChatDetailActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.Notice2Activity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.SetNoticeActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ChatMemberActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.SelectMemberActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ModStatusMsgActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.SelectProfileImgActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.ViewProfileListActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.MyPostMngActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FriendManageActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.RequestFriendActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FriendReqSelectCategoryActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FriendCategoryDetailActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.FriendGrpDetailSettingActivity"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".activities.DongChatDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.AddDongChatActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.DongchatProfileActivity"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".activities.ViewAlbumActivity"
            android:theme="@style/NoTitleDialog"/>
        <activity android:name=".activities.NoticeManageActivity"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" ></activity>
    </application>

</manifest>